<h2>set username</h2>

<%= form_with model: current_user, local: true, url: username_path(current_user) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.submit "Set username" %>

  <% end %>